repos:
  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.1
    hooks:
      - id: autopep8
        exclude: '^(?!cdk\/)'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: double-quote-string-fixer
        exclude: '^(?!cdk\/)'
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--no-sort-keys"
          - "--indent=4"
          - "--no-ensure-ascii"
        exclude: '^(?!cdk\/)'
      - id: check-yaml
# - repo: https://github.com/pre-commit/mirrors-prettier
#   rev: v3.0.0
#   hooks:
#     - id: prettier
#       exclude: "^cdk/"
