version: "3.8"

services:
  nextjs:
    build:
      context: .
      dockerfile: ./docker/nextjs/Dockerfile
    image: igvf-ui-nextjs
    volumes:
      - ".:/igvf-ui"
      - "/igvf-ui/node_modules"
      - "/igvf-ui/.next"
    command: npm run dev
    environment:
      - NODE_ENV=development
      - SERVER_URL=http://localhost:3000
      - BACKEND_URL=http://nginx:8000
      - PUBLIC_BACKEND_URL=http://localhost:8000
    ports:
      - "3001:3001"

  nginxfe:
    build:
      context: ./docker/nginx/
    image: igvf-ui-nginx
    volumes:
      - "./docker/nginx/docker.conf:/etc/nginx/nginx.conf"
    command: nginx -c /etc/nginx/nginx.conf -g 'daemon off; pid /dev/null;'
    ports:
      - "3000:80"
    depends_on:
      - nextjs

networks:
  default:
    external: true
    name: igvfd_default
