version: 2.1

orbs:
  coveralls: coveralls/coveralls@1.0.6

workflows:
  igvf-ui-tests:
    jobs:
      - run-tests

jobs:
  run-tests:
    machine:
      image: ubuntu-2004:202111-02
      docker_layer_caching: true
    resource_class: medium
    working_directory: ~/igvf-ui
    steps:
      - checkout
      - run:
          name: Build Docker images
          command: docker-compose -f docker-compose.test.yml build
      - run:
          name: Run tests
          command: |
              docker-compose -f docker-compose.test.yml up --exit-code-from nextjs
      - store_artifacts:
          path: coverage
      - run:
          name: Upload coverage
          command: |
              docker-compose -f docker-compose.test.yml run --no-deps -e COVERALLS_REPO_TOKEN=$COVERALLS_REPO_TOKEN nextjs npx coveralls < ./coverage/lcov.info