version: 2.1

workflows:
  igvf-ui-tests:
    jobs:
      - jest
      - cypress

jobs:
  jest:
    machine:
      image: ubuntu-2004:202111-02
      docker_layer_caching: true
    resource_class: medium
    working_directory: ~/igvf-ui
    steps:
      - checkout
      - run:
          name: Build Docker images
          command: docker-compose -f docker-compose.test.yml build
      - run:
          name: Run tests
          command: |
              docker-compose -f docker-compose.test.yml up --exit-code-from nextjs
      - store_artifacts:
          path: coverage
      - run:
          name: Upload coverage
          command: |
              docker-compose -f docker-compose.test.yml run --no-deps -e COVERALLS_REPO_TOKEN=$COVERALLS_REPO_TOKEN nextjs npx coveralls < ./coverage/lcov.info
  cypress:
    machine:
      image: ubuntu-2004:202111-02
      docker_layer_caching: true
    resource_class: medium
    working_directory: ~/igvf-ui
    steps:
      - checkout
      - run:
          name: Clone igvfd
          environment:
            - IGVFD_BRANCH: dev
          command: |
              git clone https://github.com/IGVF-DACC/igvfd.git --branch $IGVFD_BRANCH
      - run:
          name: Build igvfd
          command: |
              cd igvfd
              docker-compose build
      - run:
          name: Build igvf-ui
          command: |
              docker-compose build
      - run:
          name: Run Cypress
          command: |
              echo Starting igvfd
              cd igvfd
              docker-compose up -d
              echo Staring igvf-ui
              cd ../
              docker-compose up -d
              echo Running Cypress
              cp docker/cypress/docker-compose.cypress-on-circle.yml .
              docker-compose -f docker-compose.cypress-on-circle.yml up --exit-code-from cypress
