@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100vh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

:root {
  --color-background: #f8f8f8;
  --color-brand: #991133;
  --color-brand-highlight: #860f2d;
  --color-data-background: #e8e8e8;
  --color-highlight: #c0c0c0;
  --color-text-base: #000000;
  --color-title-border: #6b7280;

  --color-data-label: #6b7280;
  --color-data-value: #000000;
}

/**
 * Keep this outside of @layer base to avoid it being tree shaken, because the .dark class gets
 * applied after the body element mounts.
 */
.dark {
  --color-background: #111827;
  --color-brand: #991133;
  --color-brand-highlight: #860f2d;
  --color-data-background: #0b0f19;
  --color-highlight: #2c3f66;
  --color-text-base: #ffffff;
  --color-title-border: #6b7280;

  --color-data-label: #9ca3af;
  --color-data-value: #ffffff;
}

a {
  @apply underline;
}
