@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100vh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

:root {
  --color-brand: #991133;
  --color-text-base: #000000;
  --color-highlight: #f0f0f0;
}

.dark {
  --color-brand: #991133;
  --color-text-base: #ffffff;
  --color-highlight: #404040;
}

a {
  @apply underline;
}
