@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100vh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

:root {
  --color-background: #f8f8f8;
  --color-brand: #991133;
  --color-brand-accent: #444444;
  --color-brand-highlight: #860f2d;
  --color-data-background: #ffffff;
  --color-data-border: #c0c0c0;
  --color-highlight: #c0c0c0;
  --color-highlight-border: #a0a0a0;
  --color-text-default: #000000;
  --color-title-border: #6b7280;

  --color-data-title: #6b7280;
  --color-data-label: #6b7280;
  --color-data-value: #000000;

  --color-button-primary: #1779ba;
  --color-button-secondary: #767676;
  --color-button-success: #3adb76;
  --color-button-alert: #cc4b37;
  --color-button-warning: #ffae00;

  --color-button-text-clear: #000000;
}

/**
 * Keep this outside of @layer base to avoid it being tree shaken, because the .dark class gets
 * applied after the body element mounts.
 */
.dark {
  --color-background: #111827;
  --color-brand-accent: #444444;
  --color-brand-highlight: #860f2d;
  --color-data-background: #0b0f19;
  --color-data-border: #2c3f66;
  --color-highlight: #2c3f66;
  --color-highlight-border: #45629f;
  --color-text-default: #ffffff;
  --color-title-border: #6b7280;

  --color-data-title: #9ca3af;
  --color-data-label: #9ca3af;
  --color-data-value: #ffffff;

  --color-button-text-clear: #ffffff;
}

a {
  @apply underline;
}
