@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100vh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  .form-element-height-sm {
    min-height: 1.25rem;
  }

  .form-element-height-md {
    min-height: 1.75rem;
  }

  .form-element-height-lg {
    min-height: 2.5rem;
  }
}

:root {
  --color-background: #f8f8f8;

  --color-brand: #337788;
  --color-brand-accent: #666666;
  --color-brand-highlight: #2a6270;

  --color-data-background: #ffffff;
  --color-data-header-background: #e0e0e0;
  --color-data-border: #c0c0c0;

  --color-panel-background: #fff;
  --color-panel-border: #d0d0d0;

  --color-button-primary-background: #4f66a7;
  --color-button-secondary-background: transparent;
  --color-button-warning-background: #990f12;
  --color-button-selected-background: #d3dfff;
  --color-button-primary-border: #384977;
  --color-button-secondary-border: #384977;
  --color-button-warning-border: #661416;
  --color-button-selected-border: #384977;
  --color-button-primary-label: #ffffff;
  --color-button-secondary-label: #384977;
  --color-button-warning-label: #ffffff;
  --color-button-selected-label: #000000;

  --color-button-primary-background-disabled: #a6b7e6;
  --color-button-secondary-background-disabled: transparent;
  --color-button-warning-background-disabled: #b26b6c;
  --color-button-selected-background-disabled: transparent;
  --color-button-primary-border-disabled: #7f80bc;
  --color-button-secondary-border-disabled: #b1bad3;
  --color-button-warning-border-disabled: #804041;
  --color-button-selected-border-disabled: #b1bad3;
  --color-button-primary-label-disabled: #e8e8e8;
  --color-button-secondary-label-disabled: #b1bad3;
  --color-button-warning-label-disabled: #d8d8d8;
  --color-button-selected-label-disabled: #b1bad3;

  --color-button-audit-open-background: #d3dfff;
  --color-button-audit-closed-background: transparet;
  --color-button-audit-border: #384977;
  --color-button-audit-level-detail: #f0f0f0;
  --color-audit-level-detail-background: #d0d0d0;

  --color-facet-group-button-background: #f0e7ca;
  --color-facet-group-button-selected-background: #bfa678;
  --color-facet-group-button-border: #998868;
  --color-facet-group-button-selected-border: #998868;
  --color-facet-group-icon-background: #000000;
  --color-facet-group-icon-stroke: #000000;
  --color-facet-group-button-selected-text: #000000;
  --color-facet-group-button-border: #d1d5db;
  --color-facet-group-button-text: #000000;

  --color-facet-title-background: #b2d0de;
  --color-facet-title-text: #000000;

  --color-facet-tag-background: #a7f3d0;
  --color-facet-tag-border: #34d399;
  --color-facet-tag-neg-background: #fecdd3;
  --color-facet-tag-neg-border: #fb7185;
  --color-facet-tag-text: #374151;

  --color-site-search-header-background: #c9ebe2;

  --color-form-element-background: #ffffff;
  --color-form-element-border: #384977;
  --color-form-element-label: #000000;
  --color-form-element-border-disabled: #b1bad3;
  --color-form-element-label-disabled: #a0a0a0;

  --color-data-header-background: #e0e0e0;

  --color-highlight: #c0c0c0;
  --color-highlight-border: #a0a0a0;
  --color-title-border: #6b7280;

  --color-nav-highlight: #e0e0e0;
  --color-nav-border: #d0d0d0;

  --color-data-title: #6b7280;
  --color-data-label: #6b7280;
  --color-data-value: #000000;

  /** Navigation collapse button */
  --color-nav-collapse: #85abd6;

  /** Document tag colors */
  --color-document-autosql: #ca0032;
  --color-document-html: #487998;
  --color-document-json: #6d326d;
  --color-document-pdf: #b30b00;
  --color-document-svs: #ca6680;
  --color-document-txt: #465a9a;
  --color-document-tiff: #dd6e42;
  --color-document-tsv: #a50104;

  /** Modal borders */
  --color-modal-border: #cecfd3;

  /** Typography */
  --color-code-background: #e0e0e0;
  --color-code-text: #1e1e1f;

  --color-button-text-info: #000000;
}

/**
 * Keep this outside of @layer base to avoid it being tree shaken, because the .dark class gets
 * applied after the body element mounts.
 */
.dark {
  --color-background: #111827;
  --color-brand-accent: #444444;
  --color-brand-highlight: #860f2d;
  --color-data-background: #0b0f19;
  --color-data-header-background: #192339;
  --color-data-border: #2c3f66;
  --color-highlight: #2c3f66;
  --color-highlight-border: #45629f;
  --color-title-border: #6b7280;

  --color-panel-background: #000205;
  --color-panel-border: #4e5b75;

  --color-button-selected-background: #384977;
  --color-button-primary-border: #8facff;
  --color-button-secondary-border: #8facff;
  --color-button-selected-border: #8facff;
  --color-button-warning-border: #c93638;
  --color-button-secondary-label: #8facff;

  --color-button-primary-background-disabled: #3e4864;
  --color-button-warning-background-disabled: #6b2f30;
  --color-button-selected-background-disabled: transparent;
  --color-button-secondary-border-disabled: #5e71a8;
  --color-button-selected-border-disabled: #5e71a8;
  --color-button-primary-label-disabled: #808080;
  --color-button-secondary-label-disabled: #606060;
  --color-button-warning-label-disabled: #808080;
  --color-button-selected-label-disabled: #606060;

  --color-facet-group-button-background: #524f45;
  --color-facet-group-button-border: #998868;
  --color-facet-group-button-text: #ffffff;
  --color-facet-group-button-selected-text: #ffffff;

  --color-button-audit-open-background: #384977;
  --color-button-audit-border: #8facff;
  --color-button-audit-level: #4e5b75;
  --color-audit-level-detail-background: #4e5b75;
  --color-button-audit-level-detail: #111827;

  --color-facet-title-background: #536167;
  --color-facet-title-text: #ffffff;

  --color-facet-tag-background: #064e3b;
  --color-facet-tag-border: #047857;
  --color-facet-tag-neg-background: #881337;
  --color-facet-tag-neg-border: #be123c;
  --color-facet-tag-text: #e5e7eb;

  --color-site-search-header-background: #394240;

  --color-data-header-background: #192339;

  --color-form-element-background: #000205;
  --color-form-element-border: #8facff;
  --color-form-element-label: #ffffff;
  --color-form-element-border-disabled: #5e71a8;
  --color-form-element-label-disabled: #606060;

  --color-highlight: #2c3f66;
  --color-highlight-border: #45629f;
  --color-title-border: #6b7280;

  --color-nav-highlight: #303030;
  --color-nav-border: #404040;

  --color-data-title: #9ca3af;
  --color-data-label: #9ca3af;
  --color-data-value: #ffffff;

  /** Navigation collapse button */
  --color-nav-collapse: #4b627a;

  /** Typography */
  --color-code-background: #192339;
  --color-code-text: #e5e7eb;

  /** Modal borders */
  --color-modal-border: #68799c;
}

a {
  @apply underline;
}

#page-content table {
  border: 1px solid gray;
}

#page-content .markdown-table {
  overflow-x: auto;
}

#page-content table th {
  background-color: #c0d0f0;
}

.dark #page-content table th {
  background-color: #414651;
}

/* Path for the chevron navigation shape */
.chevron-shape {
  clip-path: polygon(
    calc(100% - 22px) 0,
    100% 50%,
    calc(100% - 22px) 100%,
    0% 100%,
    22px 50%,
    0% 0%
  );
}

.dark #graph .node > text {
  fill: #fff !important;
}

.dark #graph .node > polygon {
  stroke: #fff !important;
}

.dark #graph .edge > path {
  stroke: #fff !important;
}

.dark #graph .edge > polygon {
  fill: #fff !important;
}
