@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100vh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

:root {
  --color-background: #f8f8f8;
  --color-brand: #991133;
  --color-brand-accent: #444444;
  --color-brand-highlight: #860f2d;
  --color-data-background: #ffffff;
  --color-data-border: #c0c0c0;
  --color-highlight: #c0c0c0;
  --color-highlight-border: #a0a0a0;
  --color-text-default: #000000;
  --color-title-border: #6b7280;

  --color-data-label: #6b7280;
  --color-data-value: #000000;

  /**
   * Object statuses
   */
  --color-status-current: #00a99d;
  --color-status-deleted: #ed1c24;
  --color-status-disabled: #ed145b;
  --color-status-in-progress: #0072bc;
  --color-status-released: #00a651;
  --color-status-replaced: #f26522;
  --color-status-revoked: #ed145b;

  /**
   * Object status borders
   */
  --color-status-current-border: #007f76;
  --color-status-deleted-border: #c6171d;
  --color-status-disabled-border: #c4114b;
  --color-status-in-progress-border: #00578f;
  --color-status-released-border: #007d3d;
  --color-status-replaced-border: #cd541b;
  --color-status-revoked-border: #c4114b;
}

/**
 * Keep this outside of @layer base to avoid it being tree shaken, because the .dark class gets
 * applied after the body element mounts.
 */
.dark {
  --color-background: #111827;
  --color-brand-accent: #444444;
  --color-brand-highlight: #860f2d;
  --color-data-background: #0b0f19;
  --color-data-border: #2c3f66;
  --color-highlight: #2c3f66;
  --color-highlight-border: #45629f;
  --color-text-default: #ffffff;
  --color-title-border: #6b7280;

  --color-data-label: #9ca3af;
  --color-data-value: #ffffff;
}

a {
  @apply underline;
}
